{% extends 'store/base.html' %}
{% load static %}

{% block content %}

<div class="row">
	<div class="col-lg-6">
		<div class="box-element" id="form-wrapper">
      <form id="form">
        <div id="user-info">
          <div class="form-field">
            <input required class="form-control" type="text" name="name" placeholder="Name..">
          </div>
          <div class="form-field">
            <input required class="form-control" type="email" name="email" placeholder="Email..">
          </div>
          <div class="form-field">
            <h9>e.g 08034554073</h9>
            <input required class="form-control" type="phonenumber" name="phonenumber" placeholder="Phone Number..">
          </div>
        </div>
        
        <div id="shipping-info">
          <hr>
          <p>Shipping Information:</p>
          <hr>
          <div class="form-field">
            <input class="form-control" type="text" name="address" placeholder="Address.." required>
          </div>
          <div class="form-field">
            <input class="form-control" type="text" name="city" placeholder="City.."required>
          </div>
          <div class="form-field">
            <input class="form-control" type="text" name="state" placeholder="State.."required>
          </div>
          <div class="form-field">
            <input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
          </div>
        </div>
        <hr>
        <input id="form-button"  class="btn btn-success btn-block" type="submit" value="Continue">
      </form>

  

      </div>
      <br>
      <div class="box-element hidden" id="payment-info">
        <small>PayStack Option</small>
        <button id="make-payment" >Make Payment</button>
		</div>
		
	</div>

	<div class="col-lg-6">
		<div class="box-element">
      <a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
      <hr>
	<h3>Order Summary</h3>
	<hr>
  {% for item in items %}
	<div class="cart-row">
		<div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
		<div style="flex:2"><p>{{item.product.name}}</p></div>
		<div style="flex:1"><p>#{{ item.product.price|floatformat:2 }}</p></div>
		<div style="flex:1"><p>x{{ item.quantity }}</p></div>
	</div>
  {% endfor %}
	<h5>Items:   {{ order.get_cart_items }}</h5>
	<h5>Total:   #{{ order.get_cart_total|floatformat:2 }}</h5>
</div>
		</div>
	</div>
</div>

    {% comment %} paystack js {% endcomment %}
    <script src="https://js.paystack.co/v1/inline.js"></script> 

{% comment %} javascript function for hidding shipping if product is digital, payment button  {% endcomment %}

<script type="text/javascript">
  var shipping = '{{ order.shipping }}'
  var total = '{{order.get_cart_total}}'

  if (shipping == 'False'){
    document.getElementById('shipping-info').innerHTML = ''
  }

  if (user != 'AnonymousUser'){
    document.getElementById('user-info').innerHTML=''
  }

  if (shipping == 'False' && user != 'AnonymousUser'){
    document.getElementById('form-wrapper').classList.add('hidden');
    document.getElementById('payment-info').classList.remove('hidden');
  }

  {% comment %} document.getElementById("make-payment").addEventListener('click',
  submitFormData); {% endcomment %}





  const paymentForm = document.getElementById('make-payment');

  paymentForm.addEventListener("submit", payWithPaystack, false);

  function payWithPaystack(e) {

    e.preventDefault();

    let handler = PaystackPop.setup({

      key: 'pk_live_1198c10b36cbbd9b69b26b847915b400eaea9a41', // Replace with your public key

      email: document.getElementById("item.product.id").value,

      amount: document.getElementById("{{order.get_cart_total}}").value * 100,

      ref: ''+Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you

      // label: "Optional string that replaces customer email"

      onClose: function(){

        alert('Window closed.');

      },

      callback: function(response){

        let message = 'Payment complete! Reference: ' + response.reference;

        alert(message);

      }

    });

    handler.openIframe();

  }








  var form = document.getElementById('form')
  form.addEventListener('submit', function(e){
    e.preventDefault()
    console.log('Form Submitted....')
    document.getElementById('form-button').classList.add('hidden');
    document.getElementById('payment-info').classList.remove('hidden');
    })

  let submitFormData = (e) => {
    console.log("payment button clicked");

    var userFormData = {
      'name':null,
      'email':null,
      'phonenumber':null,
      'total':total,
    }

    var shippingInfo = {
      'address':null,
      'city':null,
      'state':null,
      'zipcode':null,
    }

    if(shipping != 'False'){
      shippingInfo.address = form.address.value
      shippingInfo.city = form.city.value
      shippingInfo.state = form.state.value
      shippingInfo.zipcode = form.zipcode.value

    }

    if(user == 'AnonymousUser'){
      userFormData.name = form.name.value
      userFormData.email = form.email.value
      userFormData.phonenumber = form.phonenumber.value
    }
    var url = "/process_order/"
    fetch(url, {
      method:'POST',
      headers:{
          'Content-Type': 'application/json',
          'X-CSRFToken': csrftoken,
      },
      body:JSON.stringify({'form':userFormData, 'shipping':shippingInfo
    })
  }).then((response) => response.json())
    .then((data) => {
    console.log('success:', data);
    alert('Transaction completed');
    cart = {}
  document.cookie = "cart=" + JSON.stringify(cart) + ";domain=;path=/"

    window.location.href = "{% url 'store' %}"
  })

  }

</script>

{% endblock content %}
